.movieCartHome{
 padding: 2%;
 
 position: relative;
  overflow-x: scroll;
  height:400px;
  overflow-x: auto;
  white-space: nowrap;
}
.bannerOfTheMovies{
  display:flex;
}


.imageSizeHome{
  margin-top: 10%;
  width: 220px;
  height:310px; 
}
.favoritesList{
  padding:.5%;
  flex-direction: column;
  width: 20%;

}

.movieCart{
  display:flex;
  flex-wrap:wrap;
  padding:1%;
}
.imageSize{
width: 90%;
height:90%;
}


.links{
  padding: 5px;
  width: 200px;
  height:320px;
}
.titleCategory{
  position: absolute;
  color:white;
  border-radius: 60%;
  float:left;
}
.infoOfMovies{
  padding-top: 5%;
  display:flex;
}
.bannerInfo{
  order:0;
  width: 30%;
  height: 30%;
}
.downloadBtn{
  display:block;
  margin:0 auto;
  width:20%;
}
.titleAndSynopsis{
  padding: 5%;
  order:1;
  display:flex;
  flex-direction: column;
}
.linksOfFavorites{
  padding: 5px;
  width: 20%;
  height:20%;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); 
}

.footerConfiguration{

height:100%;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #696969;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #696969;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #ff0000;
}
